<link rel="stylesheet" href="css/owl.carousel.css">

<div class="container">     

		<div class="col-xs-12 col-md-6 pull-left">	
				<h3 class="title">Nalin_Chhibber</h3>	
				<span class="subtitle">	
				  Student | Learner | Web Developer| Application Programmer | Thinker| FOSS Enthusiast | Geek | Doer 
				</span>
			<br><br>
			Hello Humans!
			<br>
			I am Nalin_C(aka NLN),a 21 year old geek and FOSS evangelist. I love working at /src.  When not coding,I either watch movies/tv series or play chess.  
			<div id="clickContainer">
				<div style="display:none;" id="hide"><a>Hide all</a></div>
				<div id="show"><a>See more</a></div>
			</div>
				<div class="home_social">
					<a target="_blank" href="https://www.facebook.com/nalin.chhibber"><img src="images/facebook.png"></a>
					<a target="_blank" href="https://github.com/nalinc"><img src="images/github.png"></a>
					<a target="_blank" href="https://plus.google.com/103682497249782810294"><img src="images/google.png"></a>
					<a target="_blank" href="http://in.linkedin.com/pub/nalin-chhibber/52/8a6/407?trk=pub-pbmap"><img src="images/linked_in.png"></a>
					<a target="_blank" href="http://in.linkedin.com/pub/nalin-chhibber/52/8a6/407?trk=pub-pbmap"><img width="28px" height="28px" src="images/stackoverflow.png"></a>							
				</div>
			</div>

			<div class="mytimeline col-xs-12">
					<h3 class="title">Timeline</h3>
					<div class="timeline row">
						<div id="timeline-carousel">

							<div class="col-md-4 item"> <!-- Ist -->
								<div class="top">
									<span class="time">May 2004</span>
									<span class="time">B.Tech, M.I.T</span>
									<span class="rhombus elegant-eleganticons-113"></span>
								</div>
								<div class="bottom">
									<p class="info">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis vulputate cursus.</p>
								</div>
							</div>

							<div class="col-md-4 item"> <!-- 2nd -->
								<div class="top">
									<span class="time">June 2008</span>
									<span class="time">M.Tech, M.I.T.</span>
									<span class="rhombus elegant-eleganticons-113"></span>
								</div>
								<div class="bottom">
									<p class="info">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis vulputate cursus.</p>
								</div>
							</div>

							<div class="col-md-4 item"> <!-- 3rd -->
								<div class="top">
									<span class="time">September 2009</span>
									<span class="time">Company, Designation</span>
									<span class="rhombus elegant-eleganticons-127"></span>
								</div>
								<div class="bottom">
									<p class="info">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis vulputate cursus.</p>
								</div>
							</div>

							<div class="col-md-4 item"> <!-- 3rd -->
								<div class="top">
									<span class="time">October 2012</span>
									<span class="time">Freelancer</span>
									<span class="rhombus elegant-eleganticons-127"></span>
								</div>
								<div class="bottom">
									<p class="info">Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id.</p>
								</div>
							</div>
						</div> <!-- End Timeline Carousel -->
					</div> <!-- End Timeline -->
					

				</div>


</div>