<link rel="stylesheet" href="css/owl.carousel.css">

<div class="container">     

	<div class="row">
		<div class="col-xs-12 col-md-6 pull-left">
			<h3 class="title">Nalin_Chhibber</h3>	
				<span class="subtitle textContent">	
				  Student | Programmer | Geek | Developer | Thinker | FOSS Enthusiast | Learner | Doer 
				</span>
		</div>

		<div class="col-xs-12 col-md-6 pull-right" >	
			<div class="cube">
				<div class="flippety">
					<img src="images/profile.jpg">

				</div>
				<div class="flop">
					<h2></h2>
				</div>
			</div>
		</div>


		<div class="col-xs-12 col-md-6 pull-left">	

		<div>
			<div style="margin:20px 0 10px 0">Hello Humans!</div>
			
			<div class="textContent">
			I am Nalin_C(aka NLN),a 21 year old geek and FOSS evangelist. I love working at /src.  When not coding, I either watch movies/tv series or play chess.  
			</div>
		</div>



				<div class="home_social">
					<a target="_blank" href="https://www.facebook.com/nalin.chhibber"><img src="images/facebook.png"></a>
					<a target="_blank" href="https://github.com/nalinc"><img src="images/github.png"></a>
					<a target="_blank" href="https://plus.google.com/103682497249782810294"><img src="images/google.png"></a>
					<a target="_blank" href="http://in.linkedin.com/pub/nalin-chhibber/52/8a6/407?trk=pub-pbmap"><img src="images/linked_in.png"></a>
					<a target="_blank" href="http://stackoverflow.com/users/1379667/nln"><img width="28px" height="28px" src="images/stackoverflow.png"></a>							
				</div>
			</div>
	</div>

<div class="textContent col-xs-12"><hr/>
	<h3 class="title" style="text-align:center">About</h3>
Inspired and impassioned by experiencing new things, I adore programming, take it very seriously and constantly seek to improve upon myself. I have learned to appreciate the value of what I have in life and what I do with it. I have a strong inclination towards Theoretical Computer Science and Data Sciene and believe the words:
<p style="text-align:center">
<i>"It's what you do in the present that will redeem the past and thereby change the future"</i> - Paulo Coelho
</p>

</div>

					

				</div>


</div>