<div class="container">     
	<h3 class="title">Home</h3>

		<div class="col-xs-6 pull-right">	
				<h2>Nalin_Chhibber</h2>	
				<span class="subtitle">	
				  Student | Learner | Web Developer| Application Programmer | Thinker| FOSS Enthusiast | Geek | Doer 
				</span>
			<br><br>
			Hello Humans!
			<br>
			I am Nalin_C(aka NLN),a 21 year old geek and FOSS evangelist. I love working at /src.  When not coding,I either watch movies/tv series or play chess.  
			<div id="clickContainer">
				<div style="display:none;" id="hide"><a>Hide all</a></div>
				<div id="show"><a>See more</a></div>
			</div>
				<div class="home_social">
					<a target="_blank" href="https://www.facebook.com/nalin.chhibber"><img src="images/facebook.png"></a>
					<a target="_blank" href="https://github.com/nalinc"><img src="images/github.png"></a>
					<a target="_blank" href="https://plus.google.com/103682497249782810294"><img src="images/google.png"></a>
					<a target="_blank" href="http://in.linkedin.com/pub/nalin-chhibber/52/8a6/407?trk=pub-pbmap"><img src="images/linked_in.png"></a>
					<a target="_blank" href="http://in.linkedin.com/pub/nalin-chhibber/52/8a6/407?trk=pub-pbmap"><img width="28px" height="28px" src="images/stackoverflow.png"></a>							
				</div>
			</div>


</div>