<script type="text/javascript" src="../js/framework.js"></script>

<style type="text/css">




</style>

<div class="" id="portfolio-page">

        <div id="container" class="container">
                <div>
                    <h1 class="title">Portfolio</h1>
                    <p class="textContent">
                        I have been doing codes since past 6 years and have worked on a number of things from casual hobby projects to some serious programming models.<br/>
                        Here's a brief on stuffs I have worked on..</p>
 
                </div>


          <ul id="filter" class="row">
            <li class="current "><a href="#">All</a></li>
            <li><a class="" href="#">Design</a></li>
            <li><a class="" href="#">Development</a></li>
            <li><a class="" href="#">CMS</a></li>
            <li><a class="" href="#">Integration</a></li>
            <li><a class="" href="#">Information Architecture</a></li>
          </ul>

          <ul id="portfolio" class="row">
            <li class="cms integration"><a href="#/projects"><img src="images/a-list-apart.png" alt="" height="115" width="200" />A List Apart</a></li>
            <li class="integration design"><a href="#/projects"><img src="images/apple.png" alt="" height="115" width="200" />Apple</a></li>
            <li class="design development"><a href="#/projects"><img src="images/cnn.png" alt="" height="115" width="200" />CNN</a></li>
            <li class="cms"><a href="#/projects"><img src="images/digg.png" alt="" height="115" width="200" />Digg</a></li>
            <li class="design cms integration"><a href="#/projects"><img src="images/espn.png" alt="" height="115" width="200" />ESPN</a></li>
            <li class="design integration"><a href="#/projects"><img src="images/facebooqk.png" alt="" height="115" width="200" />Facebook</a></li>
            <li class="cms information-architecture"><a href="#/projects"><img src="images/goqogle.png" alt="" height="115" width="200" />Google</a></li>
            <li class="integration development"><a href="#/projects"><img src="images/netflix.png" alt="" height="115" width="200" />Netflix</a></li>
            <li class="information-architecture"><a href="#/projects"><img src="images/nettuts.png" alt="" height="115" width="200" />NETTUTS</a></li>
            <li class="design information-architecture cms"><a href="#/projects"><img src="images/twitter.png" alt="" height="115" width="200" />Twitter</a></li>
            <li class="development"><a href="#/projects"><img src="images/white-house.png" alt="" height="115" width="200" />White House</a></li>
            <li class="cms design"><a href="#/projects"><img src="images/youtube.png" alt="" height="115" width="200" />YouTube</a></li>
          </ul>
        </div>


			</div> <!-- End Portfolio Page -->
