<div class="portfolio-page inner-pages show-inner-pages" id="portfolio-page">
				<div class="banner parallax">
					<h2 class="title">Portfolio</h2>
					<p>Sed non mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Mauris in erat justo. Nullam ac urna eu felis dapibus condimentum sit amet a augue.</p>
				</div>
				<div class="container">
					<ul class="row filter-nav" id="filter-nav">
						<li class="filter-current"><a href="#" data-filter="*">All</a></li>
						<li><a href="#" data-filter=".print">Print</a></li>
						<li><a href="#" data-filter=".design">Web Design</a></li>
						<li><a href="#" data-filter=".illustration">Illustration</a></li>
					</ul>

					<ul class="row filter-port" id="filter-port">
						<li class="item print col-md-4 col-sm-6">
							<figure>
								<img src="img/port/port-1.jpg" alt="placeholder-img">
								<div class="overlay">
									<a href="http://albumarium.com/" class="elegant-eleganticons-137 btn" rel=
									"external" target="_blank"></a>
								</div>
								<figcaption class="caption">
									<h3>Big Title<span>Small Caption Here</span></h3>
								</figcaption>
							</figure>
						</li>
						<li class="item design col-md-4 col-sm-6">
							<figure>
								<img src="img/port/port-2.jpg" alt="placeholder-img">
								<div class="overlay">
									<a href="img/port/port-2.jpg" class="elegant-eleganticons-99 btn image-popup" title="Some Title Here"></a>
								</div>
								<figcaption class="caption">
									<h3>Big Title<span>Small Caption Here</span></h3>
								</figcaption>
							</figure>
						</li>
						<li class="item illustration col-md-4 col-sm-6">
							<figure>
								<img src="img/port/port-3.jpg" alt="placeholder-img">
								<div class="overlay">
									<a href="img/port/port-3.jpg" class="elegant-eleganticons-99 btn image-popup" title="Small Caption Here"></a>
								</div>
								<figcaption class="caption">
									<h3>Big Title<span>Small Caption Here</span></h3>
								</figcaption>
							</figure>
						</li>
						<li class="item illustration col-md-4 col-sm-6">
							<figure>
								<img src="img/port/port-4.jpg" alt="placeholder-img">
								<div class="overlay">
									<a href="https://vimeo.com/13776542?autoplay=false?title=0&amp;byline=0&amp;portrait=0" class="elegant-eleganticons-130 btn video-popup" title="Video on Animation"></a>
								</div>
								<figcaption class="caption">
									<h3>Big Title<span>Small Caption Here</span></h3>
								</figcaption>
							</figure>
						</li>
						<li class="item illustration col-md-4 col-sm-6">
							<figure>
								<img src="img/port/port-5.jpg" alt="placeholder-img">
								<div class="overlay">
									<a href="http://albumarium.com/" class="elegant-eleganticons-137 btn" rel="external" target="_blank"></a>
								</div>
								<figcaption class="caption">
									<h3>Big Title<span>Small Caption Here</span></h3>
								</figcaption>
							</figure>
						</li>
						<li class="item design col-md-4 col-sm-6">
							<figure>
								<img src="img/port/port-6.jpg" alt="placeholder-img">
								<div class="overlay">
									<a href="img/port/port-6.jpg" class="elegant-eleganticons-99 btn image-popup" title="Some Title Here"></a>
								</div>
								<figcaption class="caption">
									<h3>Big Title<span>Small Caption Here</span></h3>
								</figcaption>
							</figure>
						</li>
					</ul> <!-- End Portfolio Showcase --> 
				</div> <!-- End Container -->
			</div> <!-- End Portfolio Page -->