<script type="text/javascript" src="../js/framework.js"></script>

<style type="text/css">




</style>

<div class="" id="portfolio-page">

        <div id="container" class="container">
                <div>
                    <h1 class="title">Projects</h1>
                    <p class="textContent">
        I love to build (and break) stuff and like to contribute towards open source as much as I can. 
        I have been doing codes since past 6 years and have worked on a number of things from casual hobby projects to some serious programming assignments. I speak Python, C/C++ , JAVA and Javascript.<br/>
        Here's a brief on stuffs I have worked on..
 
                </div>


          <ul id="filter" class="row">
            <li class="current "><a href="#">All</a></li>
            <li><a class="" href="#">Casual</a></li>
            <li><a class="" href="#">Design</a></li>
            <li><a class="" href="#">Software</a></li>
            <li><a class="" href="#">Web Development</a></li>
            <li><a class="" href="#">Utility</a></li>
            <li><a class="" href="#">Research</a></li>            
            <li><a class="" href="#">Professional</a></li>
          </ul>

          <ul id="portfolio" class="row">
            <li class="web-development casual">
                <a href="#/projects">
                <div class="view">  
                     <img src="images/lab/wrn.png" />  
                     <div class="mask">  
                     <h2>Weather Report Notifier</h2>  
                     <p>Text</p>  
                         <a href="#/projects" class="info">Read More</a>  
                     </div>  
                </div>  
                </a>
            </li>
            <li class="software casual">
                <a href="#/projects">
                <div class="view">  
                     <img src="images/lab/ce.jpg" />  
                     <div class="mask">  
                     <h2>Codeasy</h2>  
                     <p>Text</p>  
                         <a href="#/projects" class="info">Read More</a>  
                     </div>  
                </div>  
                </a>
            </li>
            <li class="casual">
                <a href="#/projects">
                <div class="view">  
                     <img src="images/lab/44s.png" />  
                     <div class="mask">  
                     <h2>Project 4 4s</h2>  
                     <p>Text</p>  
                         <a href="#/projects" class="info">Read More</a>  
                     </div>  
                </div>  
                </a>
            </li>
            <li class="casual">
                <a href="#/projects">
                <div class="view">  
                     <img src="images/lab/cnb.png" />  
                     <div class="mask">  
                     <h2>Cows & Bulls</h2>  
                     <p>Text</p>  
                         <a href="#/projects" class="info">Read More</a>  
                     </div>  
                </div>  
                </a>
            </li>
            <li class="professional">
                <a href="#/projects">
                <div class="view">  
                     <img src="images/lab/fossee.png" />  
                     <div class="mask">  
                     <h2>FOSSEE</h2>  
                     <p>Text</p>  
                         <a href="#/projects" class="info">Read More</a>  
                     </div>  
                </div>  
                </a>
            </li>
            <li class="professional research">
                <a href="#/projects">
                <div class="view">  
                     <img src="images/lab/test.png" />  
                     <div class="mask">  
                     <h2>Multi-Chaotic Cryptosystem</h2>  
                     <p>Text</p>  
                         <a href="#/projects" class="info">Read More</a>  
                     </div>  
                </div>  
                </a>
            </li>
            <li class="research">
                <a href="#/projects">
                <div class="view">  
                     <img src="images/lab/test.png" />  
                     <div class="mask">  
                     <h2>Genetic Cryptanalysis</h2>  
                     <p>Text</p>  
                         <a href="#/projects" class="info">Read More</a>  
                     </div>  
                </div>  
                </a>
            </li>
            <li class="professional research">
                <a href="#/projects">
                <div class="view">  
                     <img src="images/lab/test.png" />  
                     <div class="mask">  
                     <h2>CDS Metadata Upgradation</h2>  
                     <p>Text</p>  
                         <a href="#/projects" class="info">Read More</a>  
                     </div>  
                </div>  
                </a>
            </li>
            <li class="casual software">
                <a href="#/projects">
                <div class="view">  
                     <img src="images/lab/aco.png" />  
                     <div class="mask">  
                     <h2>ACO Simulation</h2>  
                     <p>Text</p>  
                         <a href="#/projects" class="info">Read More</a>  
                     </div>  
                </div>  
                </a>
            </li>








                      </ul>
        </div>


			</div> <!-- End Portfolio Page -->
