<div class="container">
		<div class="skillContainer">
				<div id="content" class="row">
					<div class="skillText col-xs-12 col-md-6">
						<h1 class="title">Ahoy!</h1>
						<p>
I love to build (and break) stuff and like to contribute towards open source as much as I can. Inspired and impassioned by experiencing new things, I adore programming & try to improve upon myself.
 I speak Python, C/C++ , JAVA and Javascript.
						</p>
					</div>


					<div id="diagram" class="col-xs-12 col-md-6"></div>

				</div>

				<div class="get">
					<div class="arc">
						<span class="text">C</span>
						<input type="hidden" class="percent" value="90" />
						<input type="hidden" class="color" value="#333" />
					</div>
					<div class="arc">
						<span class="text">ShellScript</span>
						<input type="hidden" class="percent" value="90" />
						<input type="hidden" class="color" value="#333" />
					</div>
					<div class="arc">
						<span class="text">HTML</span>
						<input type="hidden" class="percent" value="90" />
						<input type="hidden" class="color" value="#333" />
					</div>
					<div class="arc">
						<span class="text">CSS</span>
						<input type="hidden" class="percent" value="80" />
						<input type="hidden" class="color" value="#333" />
					</div>

					<div class="arc">
						<span class="text">Javascript</span>
						<input type="hidden" class="percent" value="85" />
						<input type="hidden" class="color" value="#333" />
					</div>
					<div class="arc">
						<span class="text">C++</span>
						<input type="hidden" class="percent" value="85" />
						<input type="hidden" class="color" value="#333" />
					</div>
					<div class="arc">
						<span class="text">JAVA</span>
						<input type="hidden" class="percent" value="75" />
						<input type="hidden" class="color" value="#333" />
					</div>
					<div class="arc">
						<span class="text">Python</span>
						<input type="hidden" class="percent" value="70" />
						<input type="hidden" class="color" value="#333" />
					</div>
				</div>

		</div>
</div>
