
		<div class="resume-page inner-pages show-inner-pages" id="resume-page">
			<div class="container">
								<!-- Skills -->
					<div class="skills">
						<h3 class="title">Skills</h3>
						<div class="row">
							<div class="col-md-12 skill-type-1">	
								<ul class="row labels" style="width:100%">
									<li class="col-xs-3">C++ </li>
									<li class="col-xs-3">Python </li>
									<li class="col-xs-3">C </li>
									<li class="col-xs-3">Java </li>
									<li class="col-xs-3">ShellScript </li>
									<li class="col-xs-3">JavaScript </li>
									<li class="col-xs-3">CSS </li>
									<li class="col-xs-3">HTML </li>
								</ul>
								
								<div class="row">
									<div id="circular-skills" class="circular-skills col-md-12">
										<!-- To add more skills , provide more span's -->
										<span data-percent="70" data-skills-color="#484848">C</span>
										<span data-percent="75" data-skills-color="#484848">ShellScript</span>

										<span data-percent="85" data-skills-color="#484848">HTML</span>
										<span data-percent="85" data-skills-color="#484848">CSS</span>
										<span data-percent="80" data-skills-color="#484848">JavaScript</span>
										<span data-percent="90" data-skills-color="#484848">C++</span>
										<span data-percent="90" data-skills-color="#484848">Java</span>							
										<span data-percent="90" data-skills-color="#484848">Python</span>					
																	
									</div>
								</div> <!-- End Inner Row -->

							</div> 

						</div> <!-- End Row -->
					</div> <!-- End Skills -->

				</div>	
		</div> <!-- End Page-front -->
