#loader{
position:fixed;
top:45%;
text-align: center;
width:100%;
margin: 0 auto;
padding:0;
}
#loader > .text{
margin-top:70px;
font-weight:bold;
}

html,body {
    color: #333333;
    background-color:#f6f6f6;
    width:100%;
    overflow: hidden;
    height:100%;
}
.navbar-inverse{
    border:0;
}
.navbar-inverse .navbar-header, .navbar-collapse{
    margin: 0 15px;
}
.navbar-inverse .navbar-brand{
    color: #ffc;
    display: block;
    font-size: 20px;
    font-weight: 200;
    padding: 15px 20px 10px;
    text-decoration: none; 
}
.navbar-inverse .navbar-brand:hover{
    color:#ffc;
}

#navbarCollapse{
    background-color:#222;
    
    overflow-y:hidden;
}

#navbarCollapse > ul{
    margin: 15px  0;
    padding:0;
}
#navbarCollapse > ul >li{
    display:inline-block;
    padding: 0 20px;
}

#navbarCollapse > ul >li >a{
    color:#999999;
    font-size:15px;
    text-decoration: none; 
}

#navbarCollapse > ul >li >a:hover{
    color:#ffc;
}
.container {
    min-height: 90%;
    height: auto !important;
    height: 90%;
    width: 80%;
    margin-top: 80px; 
}

.carousel-inner .item {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
}

.carousel-inner .item img {
    width: 100%;
    min-height: inherit;
    max-height: 300px;
}
.carousel-caption {
    margin-left: -20%;
    margin-bottom: -3%;
    text-align:left;
}

.wordSize{
    padding-left: 30px;
    font-size: 25px;
}

.cube {
  width: 150px;
  text-align: center;
  margin: 20px auto;
  height: 150px;

  -webkit-transition: -webkit-transform .33s;
  transition: transform .33s; /* Animate the transform properties */

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; /* <-NB */
}

/* The two faces of the cube */
.flippety,.flop {
  background: rgb(247, 247, 247);
  border: 1px solid rgba(147, 184, 189, .8);

  -webkit-border-radius: 15px;
  border-radius: 15px;

  -webkit-box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
  box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
  height: 150px;
}

.cube img{
  width:150px;
  height:150px;
  -webkit-border-radius: 15px;
  border-radius: 15px;

}

/* Position the faces */
.flippety {
  -webkit-transform: translateZ(70px);
  transform: translateZ(70px);
}

.flop {
  -webkit-transform: rotateX(-90deg) translateZ(-70px);
  transform: rotateX(-90deg) translateZ(-70px);
}

/* Rotate the cube */
.cube:hover {
  -webkit-transform: rotateX(89deg);
  transform: rotateX(89deg); /* Text bleed at 90º */
}

.textContent{
  text-align:justify;
}

.title{
  color: #fff;
  margin: 0 0 20px 0;
  position: relative;
  font-weight: 700;
  overflow: hidden;
}


.title{
  color: #6f6f6f;
  padding-top: 7.5px;
}

.subtitle{
  font-weight: bold;
}

.resume-page {
  letter-spacing: 1px;
}
.resume-page .banner,
.portfolio-page .banner,
.contact-page .banner {
  text-align: center;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjgiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==), url("../img/header-img-2.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 100%), url("../img/header-img-2.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  padding: 15px 0;
  margin-bottom: 40px;
  margin-top: 15px;
}

.resume-page .banner > p,
.portfolio-page .banner > p,
.portfolio-page .banner > p,
.contact-page .banner > p,
.contact-page .banner > p {
  font-size: 16px;
  line-height: 1.971428571428571;
  max-width: 1170px;
  padding: 0;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.resume-page .banner a.download-btn,
.portfolio-page .banner a.download-btn,
.contact-page .banner a.download-btn {
  color: #fff;
  display: inline-block;
  background: #e93b32;
  padding: 12px 24px;
  margin-top: 15px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 16px;
}
.resume-page #timeline-carousel {
  overflow: hidden;
}
.resume-page .timeline {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  /* Top */
  /** Bottom **/
}
.resume-page .timeline .item {
  width: 100%;
  position: relative;
}
.resume-page .timeline .item > .top {
  text-align: center;
  margin-top: 15px;
}
.resume-page .timeline .item > .top .rhombus {
  border: 1px solid #d2d2d2;
  display: inline-block;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  margin: 20px 0;
  background: #fff;
}
.resume-page .timeline .item > .top .rhombus:before {
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-size: 20px;
  line-height: 1.571428571428571;
  top: 11px;
  color: #e93b32;
  left: 17px;
}
.resume-page .timeline .item > .top .time,
.resume-page .timeline .item > .top .title {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}
.resume-page .timeline .item > .bottom {
  border: 1px solid #d2d2d2;
  padding: 15px;
  margin-top: 15px;
  padding-bottom: 6px;
  position: relative;
  background: #fff;
}
.resume-page .timeline .item > .bottom > p.info {
  line-height: 1.771428571428571;
}
.resume-page .timeline .item > .bottom:before,
.resume-page .timeline .item > .bottom:after {
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.resume-page .timeline .item > .bottom:before {
  width: 26px;
  height: 26px;
  background: #d2d2d2;
  left: 46.55%;
  top: -13px;
  z-index: -1;
}
.resume-page .timeline .item > .bottom:after {
  width: 24px;
  height: 24px;
  background: #fff;
  left: 46.794999999999995%;
  top: -12px;
}
.resume-page .timeline:before {
  content: "";
  position: absolute;
  width: 97.5%;
  height: 1px;
  background: #d2d2d2;
  top: 109px;
  margin-right: 15px;
  margin-left: 15px;
}
.resume-page .skills {
  margin-bottom: 30px;
}
.resume-page .skills .title {
  color: #6f6f6f;
  padding-top: 7.5px;
}
.resume-page .skills .skill-type-1 ul.labels {
  margin-top: 15px;
  padding-left: 0;
  list-style: none;
  display: inline-block;
  padding-left: 43px;
}
.resume-page .skills .skill-type-1 ul.labels > li {
  display: block;
  line-height: 2.071428571428571;
  position: relative;
}
.resume-page .skills .skill-type-1 ul.labels > li:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 9px;
  left: -25px;
  background: #e93b32;
}
.resume-page .skills .skill-type-1 ul.labels > li:nth-child(1):before {
  background: #e96a32;
}
.resume-page .skills .skill-type-1 ul.labels > li:nth-child(2):before {
  background: #e95432;
}
.resume-page .skills .skill-type-1 ul.labels > li:nth-child(3):before {
  background: #ef4b41;
}
.resume-page .skills .skill-type-1 ul.labels > li:nth-child(4):before {
  background: #e93b32;
}
.resume-page .skills .skill-type-1 .circular-skills {
  height: 500px;
}
.resume-page .skills .skill-type-2 > ul.meters {
  margin-top: 30px;
  padding-left: 0;
  list-style: none;
}
.resume-page .skills .skill-type-2 > ul.meters > li {
  background: #e93b32;
  color: #fff;
  padding: 5px 15px;
  margin-bottom: 15px;
  border-radius: 2px;
}
.resume-page .skills .skill-type-2 > ul.meters > li > span {
  float: right;
}
.resume-page .skills .skill-type-2 > ul.meters li:nth-child(1) {
  width: 70%;
}
.resume-page .skills .skill-type-2 > ul.meters li:nth-child(2) {
  width: 95%;
}
.resume-page .skills .skill-type-2 > ul.meters li:nth-child(3) {
  width: 80%;
}
.resume-page .skills .skill-type-2 > ul.meters li:nth-child(4) {
  width: 75%;
}
.resume-page .skills .skill-type-2 > ul.meters li:nth-child(5) {
  width: 90%;
}

.mytimeline{
  margin-top:20px;
}

#timeline-carousel {
  overflow: hidden;
}
.timeline {
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  /* Top */
  /** Bottom **/
}
.timeline .item {
  width: 100%;
  position: relative;
}
.timeline .item > .top {
  text-align: center;
  margin-top: 15px;
}
.timeline .item > .top .rhombus {
  border: 1px solid #d2d2d2;
  display: inline-block;
  width: 60px;
  height: 60px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  text-align: center;
  position: relative;
  margin: 20px 0;
  background: #fff;
}
.timeline .item > .top .rhombus:before {
  position: absolute;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-size: 20px;
  line-height: 1.571428571428571;
  top: 11px;
  color: #e93b32;
  left: 17px;
}
.timeline .item > .top .time,
.timeline .item > .top .title {
  display: block;
  font-weight: 700;
  text-transform: uppercase;
}
.timeline .item > .bottom {
  border: 1px solid #d2d2d2;
  padding: 15px;
  margin-top: 15px;
  padding-bottom: 6px;
  position: relative;
  background: #fff;
}
.timeline .item > .bottom > p.info {
  line-height: 1.771428571428571;
}
.timeline .item > .bottom:before,
.timeline .item > .bottom:after {
  content: "";
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.timeline .item > .bottom:before {
  width: 26px;
  height: 26px;
  background: #d2d2d2;
  left: 46.55%;
  top: -13px;
  z-index: -1;
}
.timeline .item > .bottom:after {
  width: 24px;
  height: 24px;
  background: #fff;
  left: 46.794999999999995%;
  top: -12px;
}
.timeline:before {
  content: "";
  position: absolute;
  width: 97.5%;
  height: 1px;
  background: #d2d2d2;
  top: 109px;
  margin-right: 15px;
  margin-left: 15px;
}



/* Portfolio Filter Stylesheet */

/*****Reset*****/
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, dd, p, blockquote, pre, form, fieldset, table, th, td { margin: 0; padding: 0; }

/*****Basic Definitions*****/
body { color: #333; font: 12px/18px Verdana, Helvetica, Arial, sans-serif; }
h1 { font-size: 1.667em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.333em; }
h4 { font-size: 1.167em; }
h5, h6 { font-size: 1em; }


a:visited { }
a:hover { text-decoration: none; }
p, ul, ol, dl, table { margin-bottom: 18px; }
ul, ol, dd { margin-left: 36px; }

/*****Custom Classes*****/
.clearing { clear: both; }
.last { margin-bottom: 0; }
.screenReader { left: -9999px; position: absolute; top: -9999px; }

/*****Basic Layout*****/
ul#filter { 
  display:block; 
  font-size: 16px; 
  list-style: none; 
  width: 100%; 
  text-align:center;
}

ul#filter li { 

  display:inline-block;
  line-height: 16px;
  margin: 0 auto;
  padding: 5px;
}

ul#filter a { color: #999; text-decoration: none; }
ul#filter li.current a, ul#filter a:hover { text-decoration: none; }
ul#filter li.current a { color: #333; font-weight: bold; }

ul#portfolio {display:block; list-style: none; margin-left: 0; width: 100%; text-align:center;}

ul#portfolio li { 
  border: 1px solid #dedede; 
  margin: 10px; 
  padding: 5px;
  width:30%;
  float:left;
}

ul#portfolio a { display: block; width: 100%; }
ul#portfolio a:hover { text-decoration: none; }
ul#portfolio img { border: 1px solid #dedede; display: block; padding-bottom: 5px; width:100%;}

#diagramContainer > #diagram{
  text-align:center;
}
/*

*/

.dock ul{
display: inline-block;
margin: 0px;
padding: 0px;
list-style: none;
}
.dock  li {
width: auto;
height: auto;
display: inline-block;
bottom: 0;
vertical-align: bottom;
}
.dock ul li a {
display: block;
height: 60px;
width: 60px;
position: relative;
-webkit-transition-property: width, height,margin-top;
-webkit-transition-duration: 0.5s;
-o-transition-property: width, height,margin-top;
-o-transition-duration: 0.5s;
-moz-transition-property: width, height,margin-top;
-moz-transition-duration: 0.5s;
}
.dock ul li a:hover {
width: 70px;
height: 70px;
margin:-6px;
}
.dock ul li a img {
width: 100%;
position: absolute;
bottom: 0;
left: 0;
border: none;
padding: 0px 0px 0px 30px;
}


@media (max-width: 900px){
    .wordSize{
        padding-left: 30px;
        font-size: 15px;
    }
    ul#portfolio li { 

      margin: 10px; 
      padding: 5px;
      width:45%;
      float:left;
    }
}

@media (max-width: 767px){
    .wordSize{
        padding-left: 60px;
        font-size: 10px;
    }

    ul#filter li { 

      display:inline-block;
      line-height: 16px;
      margin: 5px auto;
      padding: 5px;
    }

    ul#portfolio li { 
      border: 1px solid #dedede; 
      margin: 0px; 
      padding: 5px;
      width:100%;
      float:left;
    }
    #diagramContainer{
    padding:0;
    margin-left:-25px;
    }
    #diagramContainer .title{
    margin-left:35px;
    }


}

@media (max-width: 480px){
    #navbarCollapse > ul >li{
        display:inline-block;
        padding: 0 10px;
    }

    ul#portfolio li { 
      border: 1px solid #dedede; 
      margin: 0px; 
      padding: 5px;
      width:100%;
      float:left;
    }    
    #diagramContainer{
    padding:0;
    margin-left:-40px;
    }
    #diagramContainer > #diagram{
    margin-left:40px;
    }

    #diagramContainer .title{
    margin-left:50px;
    }

}


@media (max-width: 380px){
    #diagramContainer{
    padding:0;
    margin-left:-80px;
    }
    #diagramContainer{
    padding:0;
    margin-left:-80px;
    } 
    #diagramContainer > #diagram{
    margin-left:30px;
    }       
    #diagramContainer .title{
    margin-left:90px;
    }
}

@media (max-width: 310px){
    #diagrammContainer > #diagram{
    margin-left:20px;
    } 
}

@media (max-width: 290px){
    #diagramContainer > #diagram{
    margin-left:10px;
    } 
}

.skillContainer{
  width: 100%;
  height:100%;
}


#content {
position:relative;
height:100%;
width: 100%;
}

#content > #diagram {
height:auto;
}


#content > .skillText{
  height:auto;
}

.get {
display:none;
}


.connect{
  color:#282828;
  font-size:15px;
  line-height:26px;
}


.view {
    width: 100%;
    height: 180px;

    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
    background: #fff url(../images/bgimg.jpg) no-repeat center center
}
.view .mask, .view .content {
    width: 100%;
    height: 200px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0
}
.view img {
    display: block;
    position: relative;
    height:160px;
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 12px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 0;
}
.view p {
    font-family: Georgia, serif;
    font-style: italic;
    font-size: 12px;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;

}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.my{

}
.view img {
   -webkit-transition: all 0.2s ease-in;
   -moz-transition: all 0.2s ease-in;
   -o-transition: all 0.2s ease-in;
   -ms-transition: all 0.2s ease-in;
   transition: all 0.2s ease-in;
}
.view .mask {
   background-color: rgba(0,0,0,0.6);
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=0);
   opacity: 0;
   -webkit-transform: translate(460px, -100px) rotate(180deg);
   -moz-transform: translate(460px, -100px) rotate(180deg);
   -o-transform: translate(460px, -100px) rotate(180deg);
   -ms-transform: translate(460px, -100px) rotate(180deg);
   transform: translate(460px, -100px) rotate(180deg);
   -webkit-transition: all 0.2s 0.4s ease-in-out;
   -moz-transition: all 0.2s 0.4s ease-in-out;
   -o-transition: all 0.2s 0.4s ease-in-out;
   -ms-transition: all 0.2s 0.4s ease-in-out;
   transition: all 0.2s 0.4s ease-in-out;
}
.view h2 {
   -webkit-transform: translateY(-100px);
   -moz-transform: translateY(-100px);
   -o-transform: translateY(-100px);
   -ms-transform: translateY(-100px);
   transform: translateY(-100px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view p {
   -webkit-transform: translateX(300px) rotate(90deg);
   -moz-transform: translateX(300px) rotate(90deg);
   -o-transform: translateX(300px) rotate(90deg);
   -ms-transform: translateX(300px) rotate(90deg);
   transform: translateX(300px) rotate(90deg);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view a.info {
   -webkit-transform: translateY(-200px);
   -moz-transform: translateY(-200px);
   -o-transform: translateY(-200px);
   -ms-transform: translateY(-200px);
   transform: translateY(-200px);
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
}
.view:hover .mask {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
   -webkit-transition-delay: 0s;
   -moz-transition-delay: 0s;
   -o-transition-delay: 0s;
   -ms-transition-delay: 0s;
   transition-delay: 0s;
   -webkit-transform: translate(0px, 0px);
   -moz-transform: translate(0px, 0px);
   -o-transform: translate(0px, 0px);
   -ms-transform: translate(0px, 0px);
   transform: translate(0px, 0px);
}
.view:hover h2 {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.5s;
   -moz-transition-delay: 0.5s;
   -o-transition-delay: 0.5s;
   -ms-transition-delay: 0.5s;
   transition-delay: 0.5s;
}
.view:hover p {
   -webkit-transform: translateX(0px) rotate(0deg);
   -moz-transform: translateX(0px) rotate(0deg);
   -o-transform: translateX(0px) rotate(0deg);
   -ms-transform: translateX(0px) rotate(0deg);
   transform: translateX(0px) rotate(0deg);
   -webkit-transition-delay: 0.4s;
   -moz-transition-delay: 0.4s;
   -o-transition-delay: 0.4s;
   -ms-transition-delay: 0.4s;
   transition-delay: 0.4s;
}
.view:hover a.info {
   -webkit-transform: translateY(0px);
   -moz-transform: translateY(0px);
   -o-transform: translateY(0px);
   -ms-transform: translateY(0px);
   transform: translateY(0px);
   -webkit-transition-delay: 0.3s;
   -moz-transition-delay: 0.3s;
   -o-transition-delay: 0.3s;
   -ms-transition-delay: 0.3s;
   transition-delay: 0.3s;
}


/*MENU STYLING*/


.menu {
  font-size: 1.2em;
  width:100%;
  margin: 0;
  height:50px;
  border-bottom: 2px solid #f6f6f6;

}

.menu .navbar-logo {
  float: left;
  display: block;
  font-size: 20px;
  font-weight: 200;
  padding: 15px 35px 10px;
  text-decoration: none;
}
.menu .navbar-logo >a {
  color: #ffc;
}
.menu > ul {
  transition: max-height 0.25s linear;
  padding:10px 20px 10px;
  float:right;
  text-align: right;

}

.menu li {
  transition: visibility .25s linear;
  display: inline-block;
  padding: .45em 1.1em;
  margin: 0 .3em;
  position: relative;
}

.menu li >a{
    color: #999999; 
}

.navbar-checkbox {
  display: none;
}
.navbar-handle {
  display: none;
  cursor: pointer;
  position: relative;
  margin: 5px 30px;
  font-size: 45px;
  padding: .5em 0;
  height: 0;
  width: 1.66666667em;
  border-top: 0.13333333em solid;
}
.navbar-handle:before,
.navbar-handle:after {
  position: absolute;
  left: 0;
  right: 0;
  content: ' ';
  border-top: 0.13333333em solid;
}
.navbar-handle:before {
  top: 0.37777778em;
}
.navbar-handle:after {
  top: 0.88888889em;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.menu .navbar-handle {
  position: absolute;
  font-size: 1.2em;
  top: 0.7em;
  right: 12px;
  z-index: 10;
}
@media (min-width: 651px) {
  .menu li ul {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 1px;
    left: -1px;
    right: -1px;
  }
  .menu li:hover ul {
    display: block;
  }
  .menu li li {
    margin: -1px 0 0 0;
    box-sizing: border-box;
    width: 100%;
  }
}
@media (max-width: 650px) {
      .menu > ul {
        max-height: 0;
        display:block;
        width:100%;
        margin:0;
        background-color:#222;
        padding:0 20px;
        height:50px;

      }
      .menu li {
        visibility: hidden;
        display: inline-block;
        padding: 0.5em 0.6em;
        border: none;
        padding-top:15px;
      }
      .menu li ul {
        margin-top: 0.5em;
        border-left: 1px solid #000;
      }
      .menu .navbar-handle {
        display: block;
        color:white;
      }
      #navbar-checkbox:checked + .menu ul {
        max-height: 300px;
/*        border-top: 1px solid #101010;*/
      }
      #navbar-checkbox:checked + .menu li {
        visibility: visible;
      }
      #navbar-checkbox:checked + .menu .navbar-handle,
      #navbar-checkbox:checked + .menu .navbar-handle:after,
      #navbar-checkbox:checked + .menu .navbar-handle:before {
        border-color: #aaa;
      }
}

/*MENU STYLING*/