<section ng-controller="aboutController">
<div class="container">     

	<div class="row">
		<div class="col-xs-12 col-md-12">
			<h3 class="title">Nalin_Chhibber</h3>	
				<span class="subtitle textContent">	
				  Student | Programmer | Geek | Developer | Thinker | FOSS Enthusiast | Learner | Doer 
				</span>
		</div>

		<div class="col-xs-12 col-md-12" >	
			<div class="cube">
				<div class="flippety">
					<img src="images/profile.jpg">

				</div>
				<div class="flop">
					<span>This is me in front of <b>LHC-b</b> at CERN: The birthplace of <b>www</b> aka <b>world-wide-web</b>. I was a <b>NMS Summer Student Intern</b> at GS-SIS in 2014 and this was a regular site visit.</span>
				</div>
			</div>
		</div>


		<div class="col-xs-12 col-md-12">	

			<div>
				<div style="margin:20px 0 10px 0">Hi</div>
				
				<div class="textContent">
				I am Nalin_C(aka NLN), a creative developer, machine-learning junkie and FOSS evangelist. I love working at /src and constantly try to bridge the gap between the technology, design and human experience by building great products. When not coding, I either watch movies, tv series or play chess.  
				<p>
					Inspired and impassioned by experiencing new things, I adore programming, take it very seriously and constantly seek to improve upon myself. I have learned to appreciate the value of what I have in life and what I do with it. I am passionate about understanding and learning how users respond to situations, systems and applications in order to better develop new technology that will meet their needs. I have a strong inclination towards
					<b>Human Computer Interaction</b>, <b>visualization</b> and <b>interface design</b> with 
					essence of <b>machine learning</b>.  If you find something related interesting, please come and talk to me! 
				</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-12">	
			<p style="text-align:center;font-size:16px">
				<i>“You are what your deepest desire is. As your desire is, so is your intention. As your intention is, so is your will. As your will is, so is your deed. As your deed is, so is your destiny.”
				</i> - Excerpt from Vedic texts(Upanishads)
			</p>
		<div>

	</div>


</div>
</section>
