<section ng-controller="aboutController">
<div class="container">     

	<div class="row">
		<div class="col-xs-12 col-md-12">
			<h3 class="title">Nalin_Chhibber</h3>	
				<span class="subtitle textContent">	
				  Student | Programmer | Geek | Developer | Thinker | FOSS Enthusiast | Learner | Doer 
				</span>
		</div>

		<div class="col-xs-12 col-md-12" >	
			<div class="cube">
				<div class="flippety">
					<img src="images/profile.jpg">

				</div>
				<div class="flop">
					<span>This is me in front of <b>LHC-b</b> at CERN: The birthplace of <b>www</b> aka <b>world-wide-web</b>. I was a <b>NMS Summer Student Intern</b> at GS-SIS in 2014 and this was a regular site visit.</span>
				</div>
			</div>
		</div>


		<div class="col-xs-12 col-md-12">	

		<div>
			<div style="margin:20px 0 10px 0">Hello Humans!</div>
			
			<div class="textContent">
			I am Nalin_C(aka NLN),a Machine-Learning Junkie and FOSS evangelist. I love working at /src.  When not coding, I either watch movies/tv series or play chess.  
			<p>
				Inspired and impassioned by experiencing new things, I adore programming, take it very seriously and constantly seek to improve upon myself. I have learned to appreciate the value of what I have in life and what I do with it. I have a strong inclination towards Machine Learning and Information Retrieval and believe the words:
				<p style="text-align:center">
					<i>"It's what you do in the present that will redeem the past and thereby change the future"</i> - Paulo Coelho
				</p>
			</p>
			</div>
		</div>

			</div>
	</div>


</div>
</section>