<!--FRONT PAGE-->
            <!--ANIMATED TEXT-->    
            <div class="content container">

                <h2 class="wow bounceInDown" data-wow-duration="3s" data-wow-delay="0s">
                    Hello World! <br/> <span>You have landed on the homepage of</span> 
                </h2>
            
                <h3 class="wow bounceInDown" data-wow-duration="2s" data-wow-delay="2s">
                    <span>
                        Nalin Chhibber
                    </span>
                </h3>

                <!--ROTATING TEXT-->    
                <h4 class="text-rotator-fade wow bounceInDown" data-wow-duration="2s" data-wow-delay="2s">
				<section class="rw-wrapper">
					<h2 class="rw-sentence">
						<div class="rw-words rw-words-1">
							<span>I make things for web</span>
							<span>I develop applications for Desktop</span>
							<span> I like cryptography </span>
							<span> dgfdfdf </span>

	<!-- 						<span title="Binary">
								01001110 01100001 01101100 01101001<br> 
								01101110 00100000 01000011 01101000 <br>
								01101000 01101001 01100010 01100010 <br>
										01100101 01110010
							</span>
							<span title="Morse code">
								-. .- .-.. .. -.<br>
								-.-. .... .... .. -... -... . .-.

							</span>
	 -->
						</div>
					</h2>
				</section>
                </h4>

                <!--HOURGLASS-->    
                <div class="si-icons si-icons-hover wow rotateIn pad30" data-wow-duration="3s" data-wow-delay="4s">
                    <span class="si-icon si-icon-hourglass" data-icon-name="hourglass" style="display:none"></span>
                </div>

                <br/><br/>
            
                <!--LINKS-->
                <span class="link-effect wow bounceIn" data-wow-duration="2s" data-wow-delay="4.5s">
                    <i class="fa fa-arrow-left marg-right5"></i>
                    <a href="#/about">about</a>
                </span>
            
                <i class="fa fa-dot-circle-o size wow bounceIn" data-wow-duration="2s" data-wow-delay="6s"></i>
            
                <span class="link-effect wow bounceIn" data-wow-duration="2s" data-wow-delay="6.5s">
                    <a href="#/contact">contact</a>
                    <i class="fa fa-arrow-right marg-left5"></i>
                </span>
                <!--//LINKS-->
        
                <p class="copyright">&copy; 2010-2015 Nalin Chhibber | All rights reserved</p>
            </div>

                <!--//FRONT PAGE-->

    <script src="scripts/lib/wow.js"></script>
