<!--FRONT PAGE-->
            <!--ANIMATED TEXT-->    
        <div style="position:relative;height:100%" >

	        <div class="content container">
        
                <h2 class="welcome-text">
                    <div>Hello World!</div>
                    <div class="description">I am Nalin Chhibber</div>
                </h2>
				<div class="cube">
					<div class="flippety">
						<img src="images/profile.jpg">

					</div>
					<div class="flop">
						<span>This is me in front of <b>LHC-b</b> at CERN: The birthplace of <b>www</b> aka <b>world-wide-web</b>. I was a <b>NMS Summer Student Intern</b> at GS-SIS in 2014 and this was a regular site visit.</span>
					</div>
				</div>	            
                <div class="description">This site is a showcase of my work, learnings and random h4ck5 </div>
            
                <!--LINKS-->
                <div style="height:110px;margin-bottom:50px">
	                <span class="link-effect">
	                    <i class="fa fa-arrow-left marg-right5"></i>
	                    <a href="#/about">about</a>
	                </span>
	            
	                <i class="fa fa-dot-circle-o size"></i>
	            
	                <span class="link-effect">
	                    <a href="#/lab">portfolio</a>
	                    <i class="fa fa-arrow-right marg-left5"></i>
	                </span>
                </div>
            
	       	</div>
        </div>

                <!--//FRONT PAGE-->
