<section ng-controller="labController">

<style type="text/css">

</style>

<div class="" id="portfolio-page">

        <div id="container" class="container">
<!--                 <div>
                    <h1 class="title">Projects</h1>
                    <p class="textContent">
        I love to build (and break) stuff and like to contribute towards open source as much as I can. 
        I have been doing codes since past 6 years and have worked on a number of things from casual hobby projects to some serious programming assignments. I speak Python, C/C++ , JAVA and Javascript.<br/>
        Here's a brief on stuffs I have worked on..
 
                </div>
 -->

          <ul id="filter" class="row">
            <li class="current "><a href="#">All</a></li>
            <li><a class="" href="#">Casual</a></li>
            <li><a class="" href="#">Design</a></li>
            <li><a class="" href="#">Information-Retrieval</a></li>
            <li><a class="" href="#">Professional</a></li>
          </ul>

          <ul id="portfolio" class="row">
            <li ng-repeat="project in projects" ng-class="project.classes">
                <a href="#/lab">
                <div class="box"> <img ng-src={{project.img.small}}>
                  <div class="overbox">
                    <div class="title overtext"> {{project.name}} </div>
                    <div class="tagline overtext" ng-click='openModal(project)'> See Details </div>
                  </div>
                </div>
                </a>
            </li>
          </ul>
        </div>


			</div> <!-- End Portfolio Page -->
      <modal-dialog show='modalShown' width='80%' height='80%' project='currentProject'>
      </modal-dialog>
</secton>

