<div class='ng-modal' ng-show='show'>
  <div class='ng-modal-overlay' ng-click='hideModal()'>
    
  </div>
  <div class='ng-modal-dialog' ng-style='dialogStyle'>
    <div class='ng-modal-close' ng-click='hideModal()'>X</div>
    <div class='ng-modal-dialog-content' style="">
    	<div class="row" id="modal-content">
    		<div class="col-xs-12 col-md-8">
<!--     			<img ng-src={{project.img.small}} class="img  img-responsive"> -->
          <div class="thumb">
            <!-- Image -->
            <a  id="project-image">
              <!-- Label -->
              <span>{{project.name}}</span>
            </a>
          </div>

    		</div>
    		<div class="col-xs-12 col-md-4 left-panal">
	    		<div class="row">
	    			<div class="col-xs-12 project-name">
	    				<b>{{project.name}}</b>
	    			</div>	
	    			<div class="col-xs-12 project-description" style="text-align:justify" >
              <div class="project-meta">
                  <div><b ng-repeat="item in project.attachments">
                        | <a href="{{item.link}}" target='_blank'>{{item.type}}</a> | 
                        </b>
                  </div>
                  <div><b>Platform:</b> {{project.platform}}</div> 
                  <div><b>Technologies:</b> {{project.technologies}}</div>
                  <div><b>Screenshots:</b></div>
                  <span ng-repeat='item in project.screenshots'>
                     <img ng-src="{{item}}" class="project-screenshots" ng-click='changeImage(item)'> 
                  </span>                
              </div>
	    				<p>
                {{project.description}}

              </p>
	    			</div>	
	    		</div>
    		</div>

    	</div>

    </div>
  </div>
</div>