<div class="footer" ng-hide="hideFooter">
 
    <div class="home_social">
        <a target="_blank" href="https://www.facebook.com/nalin.chhibber"><img src="images/facebook.png"></a>
        <a target="_blank" href="https://github.com/nalinc"><img src="images/github.png"></a>
        <a target="_blank" href="https://plus.google.com/103682497249782810294"><img src="images/google.png"></a>
        <a target="_blank" href="http://in.linkedin.com/pub/nalin-chhibber/52/8a6/407?trk=pub-pbmap"><img src="images/linked_in.png"></a>
        <a target="_blank" href="http://stackoverflow.com/users/1379667/nln"><img width="28px" height="28px" src="images/stackoverflow.png"></a>                            
    </div>
    <!--//LINKS-->

    <p class="copyright">&copy; 2010-2015 Nalin Chhibber | All rights reserved  {{loc}}</p>
</div>  
