<input type="checkbox" id="navbar-checkbox" class="navbar-checkbox">
<nav style="" class="menu navbar navbar-inverse navbar-fixed-top" role="navigation">
  <label class="navbar-logo">
  <a href="#/">Nalin_C</a>
  </label>
    <ul style="background-color: #e0e0e0;">
        <li><a href="#/about">About</a></li>
        <li><a href="#/skills">Profile</a></li>
        <li><a href="#/projects">Lab</a></li>
        <li><a href="#/connect">Connect</a> </li>           
    </ul>
  <label for="navbar-checkbox" class="navbar-handle"></label>
  
</nav>
