<section ng-controller="profileController">
<link rel="stylesheet" href="styles/owl.carousel.css">

<div class="profile container">
	<div class="row">
        <div class="col-md-2 col-sm-4 col-xs-12">
            <h1 class="title" >Profile</h1>
        </div>
		<div class="col-md-10 col-sm-8 col-xs-12">
			<p class="textContent">
			    I love to build (and break) stuff and like to contribute towards open
			    source as much as I can. 
			    I have been doing codes since past 6 years and have worked on a 
			    number of things from casual hobby projects to some serious 
			    programming assignments. I speak Python, C/C++ , JAVA and Javascript.
			    <br/>

			</p>
			<hr/>
		</div>	
	</div>
	<div class="row">
		<div class="col-md-2 col-sm-4 col-xs-12">
			<h1 class="title">Academics</h1>
		</div>
		<div class="col-md-10 col-sm-8 col-xs-12">
			<div class="row"> 
				<div class="col-xs-12">
					<div style="color:#000;font-weight:bold">
						Guru Gobind Singh Indraprastha University, New Delhi
					</div>
					<div style="font-size:12px">B.Tech Computer Science & Engineering | 2010-2014</div>
					<div>Relevant Coursework: Algorithms & Data Structures, Artificial Intelligence, Compilers, Databases & Data Mining, Operating Systems, Programming Languages, Network Security, Software Engineering.</div>
				</div>
			</div><br>
			<div class="row"> 
				<div class="col-xs-12">
					<div style="color:#000; font-weight:bold">Kendriya Vidyalaya</div>
					<div style="font-size:12px">Science | until-2010</div>
					<div>CBSE AISSE 10th </div><div>CBSE AISSCE 12th </div>
				</div>
			</div>
			<hr/>
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 col-sm-4 col-xs-12">
			<h1 class="title">Independent Coursework</h1>
		</div>
		<div class="col-md-10 col-sm-8 col-xs-12">
			<div style="color:#000; font-weight:bold">Data Scientist's Toolbox</div>
			<div style="font-size:10px">Johns Hopkins University via Coursera</div>
			<br/>	
			<div style="color:#000; font-weight:bold">R Programming</div>
			<div style="font-size:10px">Johns Hopkins University via Coursera</div>
			<br/>
			<div style="color:#000; font-weight:bold">MongoDB for nodeJS developers</div>
			<div style="font-size:10px">MongoDB University</div>

		<hr/>	
		</div>
	</div>

	<div class="row">
		<div class="col-md-2 col-sm-4 col-xs-12">
			<h1 class="title">Skills</h1>
		</div>
		<div class="col-md-10 col-sm-8 col-xs-12">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
				<h4 style="margin:10px;margin-left:15px">Development Skillset</h4>
					<ul>
						<li>HTML5, CSS3, Javascript</li>
						<li>JQuery, NodeJS, AngularJS</li>
						<li>MongoDB, Redis, MySQL</li>
						<li>C++, JAVA, C, Shellscript, Qt</li>
						<li>R Programming, Python, Django</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4">
				<h4 style="margin:10px;margin-left:15px">Design Skillset</h4>
					<ul>
						<li>User Interface Design</li>
						<li>User Experience Design</li>
						<li>Interaction Design</li>
						<li>Data Visualization</li>
					</ul>					
				</div>
				<div class="col-xs-12 col-sm-4">
				<h4 style="margin:10px;margin-left:15px">Toolkit</h4>
					<ul>
						<li>git, npm, yeoman, grunt</li>
						<li>bootstrap, bower,  </li>
						<li>D3JS, ChartJS</li>
						<li>sublime 3, vim</li>
						<li>heroku, github</li>
					</ul>					
				</div>

			</div>
			<hr/>
		</div>	
	</div>

	<div class="row">
		<div class="col-md-2 col-sm-4 col-xs-12">
			<h1 class="title">Languages</h1>
		</div>
		<div class="col-md-10 col-sm-8 col-xs-12">
			<div style="margin:10px">
				<span class="text">C</span>
				<span class="text">ShellScript</span>
				<span class="text">HTML</span>
				<span class="text">CSS</span>
				<span class="text">Javascript</span>
				<span class="text">C++</span>
				<span class="text">JAVA</span>
				<span class="text">Python</span>
			</div>
			<hr/>
		</div>
		<hr/>
	</div>	
	<div class="row">
		<div class="col-md-2 col-sm-4 col-xs-12">
			<h1 class="title">Toolkit</h1>
		</div>
		<div class="col-md-10 col-sm-8 col-xs-12">
			<div class="dock">
				<ul>
				    <li><a href="#/profile"><img src="images/nodejs.png" alt="nodeJS" title="nodeJS"></a></li>
				    <li><a href="#/profile"><img src="images/angularjs.png" alt="angularJS" title="AngularJS"></a></li>
				    <li><a href="#/profile"><img src="images/mongodb.png" alt="mongoDB" title="mongoDB"></a></li>
					<li><a href="#/profile"><img src="images/heroku.png" alt="heroku" title="heroku toolbelt"></a></li>
					<li><a href="#/profile"><img src="images/grunt.png" alt="grunt" title="grunt"></a></li>
					<li><a href="#/profile"><img src="images/npm.png" alt="npm" title="npm"></a></li>					    
				</ul>
			</div>
		</div>	
	</div>	

</div>
</section>