<section ng-controller="skillController">
<link rel="stylesheet" href="styles/owl.carousel.css">

<div class="container">
		<div class="row">
            <div class="col-lg-2 col-sm-4 col-xs-12">
	            <h1 class="title" >Profile</h1>
	        </div>
			<div class="col-lg-10 col-sm-8 col-xs-12">
				<p class="textContent">
        I love to build (and break) stuff and like to contribute towards open source as much as I can. 
        I have been doing codes since past 6 years and have worked on a number of things from casual hobby projects to some serious programming assignments. I speak Python, C/C++ , JAVA and Javascript.<br/>
        Here's a brief on stuffs I have worked on..

				</p>
				<hr/>
			</div>	

		</div>
	<div class="row">
		<div class="col-lg-2 col-sm-4 col-xs-12">
			<h1 class="title">Academics</h1>
		</div>
		<div class="col-lg-10 col-sm-8 col-xs-12">
			<div class="row"> 
				<div class="col-xs-12">
					<div style="color:#5f5f5f;font-weight:bold">
						Guru Gobind Singh Indraprastha University, New Delhi
					</div>
					<div style="font-size:10px">B.Tech Computer Science & Engineering | 2010-2014</div>
					<div>Relevant Coursework: Algorithms & Data Structures, Artificial Intelligence, Compilers, Databases & Data Mining, Operating Systems, Programming Languages, Network Security, Software Engineering.</div>
				</div>
			</div><br>
			<div class="row"> 
				<div class="col-xs-12">
					<div style="color:#5f5f5f; font-weight:bold">Kendriya Vidyalaya</div>
					<div style="font-size:10px">Science | until-2010</div>
					<div>CBSE AISSE 10th </div><div>CBSE AISSCE 12th </div>
				</div>
			</div>
			<hr/>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-sm-4 col-xs-12">
			<h1 class="title">Skills</h1>
		</div>
		<div class="col-lg-10 col-sm-8 col-xs-12">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
				<h4 style="margin:10px;margin-left:15px">Development Skillset</h4>
					<ul>
						<li>HTML5, CSS3, Javascript</li>
						<li>JQuery, NodeJS, AngularJS</li>
						<li>MongoDB, Redis, MySQL</li>
						<li>C++, JAVA, C, Shellscript, Qt</li>
						<li>R Programming, Python, Django</li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4">
				<h4 style="margin:10px;margin-left:15px">Design Skillset</h4>
					<ul>
						<li>User Interface Design</li>
						<li>User Experience Design</li>
						<li>Interaction Design</li>
						<li>Data Visualization</li>
					</ul>					
				</div>
				<div class="col-xs-12 col-sm-4">
				<h4 style="margin:10px;margin-left:15px">Toolkit</h4>
					<ul>
						<li>git, npm, yeoman, grunt</li>
						<li>bootstrap, bower,  </li>
						<li>D3JS, ChartJS</li>
						<li>sublime 3, vim</li>
						<li>heroku, github</li>
					</ul>					
				</div>

			</div>
			<hr/>
		</div>	
	</div>

	<div class="row">
		<div class="col-lg-2 col-sm-4 col-xs-12">
			<h1 class="title">e-learning</h1>
		</div>
		<div class="col-lg-10 col-sm-8 col-xs-12">
			<div style="color:#5f5f5f; font-weight:bold">Data Scientist's Toolbox</div>
			<div style="font-size:10px">Johns Hopkins University via Coursera</div>
			<br/>	
			<div style="color:#5f5f5f; font-weight:bold">R Programming</div>
			<div style="font-size:10px">Johns Hopkins University via Coursera</div>
			<br/>
			<div style="color:#5f5f5f; font-weight:bold">MongoDB for nodeJS developers</div>
			<div style="font-size:10px">MongoDB University</div>



		</div>
	</div>
	<div class="row">
		<div class="col-lg-2 col-sm-4 col-xs-12">
			<h1 class="title">Languages</h1>
		</div>
		<div class="col-lg-10 col-sm-8 col-xs-12">
			<div id="diagramContainer">
				<div id="diagram" ></div>
			</div>
				<div class="get">
					<div class="arc">
						<span class="text">C</span>
						<input type="hidden" class="percent" value="90" />
						<input type="hidden" class="color" value="#333" />
					</div>
					<div class="arc">
						<span class="text">ShellScript</span>
						<input type="hidden" class="percent" value="90" />
						<input type="hidden" class="color" value="#333" />
					</div>
					<div class="arc">
						<span class="text">HTML</span>
						<input type="hidden" class="percent" value="90" />
						<input type="hidden" class="color" value="#333" />
					</div>
					<div class="arc">
						<span class="text">CSS</span>
						<input type="hidden" class="percent" value="80" />
						<input type="hidden" class="color" value="#333" />
					</div>

					<div class="arc">
						<span class="text">Javascript</span>
						<input type="hidden" class="percent" value="85" />
						<input type="hidden" class="color" value="#333" />
					</div>
					<div class="arc">
						<span class="text">C++</span>
						<input type="hidden" class="percent" value="85" />
						<input type="hidden" class="color" value="#333" />
					</div>
					<div class="arc">
						<span class="text">JAVA</span>
						<input type="hidden" class="percent" value="75" />
						<input type="hidden" class="color" value="#333" />
					</div>
					<div class="arc">
						<span class="text">Python</span>
						<input type="hidden" class="percent" value="70" />
						<input type="hidden" class="color" value="#333" />
					</div>
				</div>
		<hr/>
		</div>	
	</div>
	<div class="row">
		<div class="col-lg-2 col-sm-4 col-xs-12">
			<h1 class="title">Toolkit</h1>
		</div>
		<div class="col-lg-10 col-sm-8 col-xs-12">
			<div class="dock">
				<ul>
				    <li><a href="#/skills"><img src="images/nodejs.png" alt="nodeJS" title="nodeJS"></a></li>
				    <li><a href="#/skills"><img src="images/angularjs.png" alt="angularJS" title="AngularJS"></a></li>
				    <li><a href="#/skills"><img src="images/mongodb.png" alt="mongoDB" title="mongoDB"></a></li>
					<li><a href="#/skills"><img src="images/heroku.png" alt="heroku" title="heroku toolbelt"></a></li>
					<li><a href="#/skills"><img src="images/grunt.png" alt="grunt" title="grunt"></a></li>
					<li><a href="#/skills"><img src="images/npm.png" alt="npm" title="npm"></a></li>					    
				</ul>
			</div>
		<hr/>
		</div>	
	</div>

		<div class="row">
			<div class="col-lg-2 col-sm-4 col-xs-12">
				<h1 class="title" >Timeline</h1>
			</div>
			<div class="mytimeline col-lg-10 col-sm-8 col-xs-12">

					<div class="timeline row">
						<div id="timeline-carousel">

							<div class="col-md-4 item"> <!-- Ist -->
								<div class="top">
									<span class="time">2008</span>
									<span class="time">10Th Grade</span>
									<span class="rhombus elegant-eleganticons-113"></span>
								</div>
<!-- 								<div class="bottom">
									<p class="info">
										KV Sriganganagar Cantt, CBSE
									</p>
								</div>
 -->							</div>

							<div class="col-md-4 item"> <!-- 2nd -->
								<div class="top">
									<span class="time">2010</span>
									<span class="time">12Th Grade</span>
									<span class="rhombus elegant-eleganticons-113"></span>
								</div>
<!-- 								<div class="bottom">
									<p class="info">
										KV Chhawala camp, CBSE
									</p>
								</div>
 -->							</div>

							<div class="col-md-4 item"> <!-- 3rd -->
								<div class="top">
									<span class="time">2013</span>
									<span class="time">CSIR Bangalore</span>
									<span class="rhombus elegant-eleganticons-127">
									</span>
								</div>
<!-- 								<div class="bottom">
									<p class="info">
										SPARK Internship[Student Program for Advancement in Research Knowledge]
									</p>
								</div>
 -->							</div>
							<div class="col-md-4 item"> <!-- 3rd -->
								<div class="top">
									<span class="time">2014</span>
									<span class="time">B.Tech [Computer Science]</span>
									<span class="rhombus elegant-eleganticons-127">
									</span>
								</div>
<!-- 								<div class="bottom">
									<p class="info">
										Indraprastha University, New Delhi										
									</p>
								</div>
 -->							</div>
							<div class="col-md-4 item"> <!-- 3rd -->
								<div class="top">
									<span class="time">2014</span>
									<span class="time">CERN Research Internship</span>
									<span class="rhombus elegant-eleganticons-127">
									</span>
								</div>
<!-- 								<div class="bottom">
									<p class="info">
										GS-Scientific Information Services, Geneva Switzerland
									</p>
								</div>
	 -->						</div>

							<div class="col-md-4 item"> <!-- 3rd -->
								<div class="top">
									<span class="time">Present</span>
									<span class="time">Associate Software Engineer</span>
									<span class="rhombus elegant-eleganticons-127">
									</span>
								</div>
<!-- 								<div class="bottom">
									<p class="info">
										Compro Technologies, Greenpark- New Delhi
									</p>
								</div>
 -->							</div>

						</div> <!-- End Timeline Carousel -->
					</div> <!-- End Timeline -->
		</div>
	</div>	

				


</div>
</section>