/*-----------------------------------------------------------------------------------*/
/*	01: GENERAL STYLING
/*-----------------------------------------------------------------------------------*/	



html, body { height: 100%; padding: 0; margin: 0; }

body {
 	font:16px/24px 'Lato', sans-serif;
	background:#fff !important;
	font-weight: 400;
	text-align:center;
	text-rendering: optimizeLegibility;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
	overflow:hidden;
 	height:100%;
    width:100%;
    color:#000;
}

html { font-size:100%; -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; height:100%;}
a, a:visited, a:hover, a:active, a:focus, input, select, textarea { outline:none; text-decoration:none; }
a, li { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }
:focus, .btn:focus { outline: 0; }
.wow { visibility: hidden; }
img { display:block; height:auto; max-width:100%; vertical-align:top; ms-interpolation-mode:bicubic; opacity:1.0; width: auto\9;}


/**** LINKS ****/
a {
	-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/**** PADDING ****/
.pad90 { padding-top: 90px; }
.pad60 { padding-top: 60px; }
.pad45 { padding-top: 45px; }
.pad35 { padding-top: 35px; }
.pad30 { padding-top: 30px; }
.pad25 { padding-top: 25px; }
.pad19 { padding-top: 19px; }
.pad20 { padding-top: 20px; }
.pad15 { padding-top: 15px; }
.pad10 { padding-top: 10px; }
.pad5 { padding-top: 5px; }
.marg-right5 { margin-right: 5px; }
.marg-left5 { margin-left: 5px; }
.marg-right20 { margin-right: 20px; }

/**** PAGE SLIDE ****/
.mm-menu { background: none !important; z-index: 1!important; }
.mm-menu > .mm-panel { padding-top: 0; }

/**** CENTER LEFT / RIGHT CONTENT ****/
.block {
  	position: relative;
	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
  	transform: translateY(-50%);
}

.container {
    min-height: 90%;
    height: auto !important;
    height: 90%;
    width: 80%;
    margin-top: 120px;
    margin-bottom: 15px; 
    padding-bottom: 50px;
}

/**** CENTER FRONT CONTENT ****/
.content {
	position: absolute;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	left: 1%;
	right: 1%;
	z-index: 1;
	text-align:center;
	color: #000;
}

/**** CLOSE BUTTON ****/
.close, #close {
	font-size: 35px;
	background: transparent;
	color: #000;
	opacity: 0.6;
	cursor: pointer;
	border: 0;-webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.close:hover, #close:hover  { opacity: 0.8; color: #000; }

/**** TYPOGRAPHY ****/
h1, h2, h3, h4, h5, h6 { font-family: 'Lato', sans-serif; color:#000; }
h2 { font-size: 28px; }
h3 { font-size: 24px; }
h4 { font-size: 20px; }
h5 { font-size: 18px; }
h6 { font-size: 16px; }	
p { margin: 20px 0; }
.lead { font-size: 28px; color: #000; padding: 0 0 20px;}

.content h1, h1  {
	margin: 0 auto;
	text-align: center;
	color: #000;
    letter-spacing: -1px;
	font-size: 95px;
	line-height: 1em;
	font-weight: 700;
	padding: 10px 0 0;
	text-transform: none;
}
.content h1  { margin: 30px auto 0; text-transform: uppercase; }

.soon{
	margin: 0px auto;
	text-align: center;
	color: #000;
	letter-spacing: 6px;
	font-size: 14px;
	font-weight: 700;
}

/**** SVG ICONS FALLBACK ****/
/* Fallback for browsers that don't support SVG - Generated with http://iconizr.com/ */
.no-svg .si-icon-clock { background-image: url('../images/clock.png') }
.no-svg .si-icon-hourglass { background-image: url('../images/hourglass.png') }
.no-svg .si-icon-mail { background-image: url('../images/mail.png') }
.no-svg .si-icon-flag { background-image: url('../images/flag.png') }
.si-icons { cursor:pointer; }

/**** OVERLAY & BACKGROUND ***/
.vegas-overlay {
	background: transparent url(../images/overlay.png);
	opacity: 0.5;
	z-index: -1;
}
.vegas-background {
	-ms-interpolation-mode: bicubic;
	image-rendering: optimizeQuality;
    max-width: none !important; 
	z-index: -2;
}
.vegas-overlay, .vegas-background {
	-webkit-user-select: none;
	 -khtml-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
}

/**** TERMINAL CODE ****/
.bgterminal {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	padding-top:100px;
	color: darkcyan!important;
	background-color: #f6f6f6;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -o-pre-wrap;
	font:16px'Inconsolata', monospace;
	font-size: 16px;
	z-index: -1;
	text-align: left;
	-webkit-transition-property: color;
	-moz-transition-property: color;
	-o-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 2s;
	transition-duration: 2s;
	-webkit-transition-delay: 2s;
	transition-delay: 0;
}
.bgterminal .cursor { background: #000; }

/*-----------------------------------------------------------------------------------*/
/*	02: INTRO PAGE
/*-----------------------------------------------------------------------------------*/	

/**** LOGO ****/
.logo { margin: 0 auto 8px; }

/**** LAUNCHING/SUBSCRIBE LINKS ****/
.link-effect a {
	display: inline-block;
	position:relative;
	font-size: 18px;
	text-transform: lowercase;
	letter-spacing: 4px;
	padding: 10px;
	margin: 20px 5px;
	color: #000;
	font-weight: 700;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
	outline: none;
	text-decoration: none;
}
.link-effect a::before, .link-effect a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #000;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.link-effect a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.link-effect a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}
.link-effect a:hover, .link-effect a:focus { color: #000; }
.link-effect a:hover::before, .link-effect a:focus::before, .link-effect a:hover::after, .link-effect a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
.size { font-size: 13px; }

/*-----------------------------------------------------------------------------------*/
/*	03: SUBSCRIBE PAGE
/*-----------------------------------------------------------------------------------*/	

/**** SUBSCRIBE FORM ****/
#ajax-contact-form{ margin-top:30px; }

#ajax-contact-form input{
	background: transparent;
	color: #f0f0f0!important;
	background:rgba(255,255,255,.2); 
	border-left: 0px none;
	border-right: 0px none;
	border-top: 0px none;
	border-bottom: 0px none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-border-radius: 6px;
	-moz-box-border-radius: 6px;
	border-radius: 6px;
	margin-bottom: 15px;
	padding: 8px 10px;
	font-weight: 400;
	font-size: 16px;
}
::-webkit-input-placeholder { color: #f0f0f0; opacity: 1.0; }
:-moz-placeholder { color: #f0f0f0; opacity:1.0; }
::-moz-placeholder { color: #f0f0f0; opacity:1.0; }
:-ms-input-placeholder { color: #000; opacity:1.0; }
focus::-webkit-input-placeholder { color: transparent; opacity: 1.0;}
#ajax-contact-form input:focus { color: #f0f0f0; outline: none; }
input { outline: none; }

/**** BUTTON ****/
.btn{
	display: inline-block;
	margin: 15px auto;
	padding: 25px 60px;
	color: #000;
	font-size: inherit;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	background: none;
	border: 2px solid #000;
	-webkit-box-border-radius: 0px;
	-moz-box-border-radius: 0px;
	border-radius: 0px;
	outline: none;
	cursor: pointer;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn:hover, .btn:active { color: #000; background:rgba(255,255,255,.15); }

.notification_ok {
    color: #000;
	opacity: 0.5;
	font-weight: 400;
    height: auto;
    margin: 25px auto;
    padding: 0px;
    text-align: center;
	font-size: 20px;
	line-height: 28px
	width: 100%;
	clear: both; 	
}

/*-----------------------------------------------------------------------------------*/
/*	04: COUNTDOWN PAGE
/*-----------------------------------------------------------------------------------*/	

/**** COUNTDOWN ****/
.counter {
	margin: 0 0 0 -30px;
    text-align: center;
    position: relative;
}
.countdown li {
    margin: 20px auto 0;
    display: inline-block!important;
    text-align: center;
}
.number { font-size: 50px; line-height: 15px; color: #000; font-weight: 700; }
.time {
	font-size: 13px;
    margin-top: 5px;
	text-transform: uppercase;
    color: #000;
	width: 110px;
	display: block;
	background: transparent;
}

/**** SOCIAL ICONS ****/
#social-icons ul { padding: 0; list-style-type: none; margin: 40px auto 0; }
#social-icons ul li { display: inline; }
#social-icons ul li a {
	color: #000;
	font-size: 30px;
	margin: 0px 8px;
	line-height: 40px;
}
#social-icons ul li a:hover { opacity:0.8; }
#social-icons a, #social-icons a:visited, #social-icons a:hover, #social-icons a:active, #social-icons a:focus { outline:none; text-decoration:none; background:transparent; }

/*-----------------------------------------------------------------------------------*/
/*	05: ABOUT PAGE
/*-----------------------------------------------------------------------------------*/
#overlay { 
	display: none;
	background:rgba(24, 37, 52, 1.0) ;
	color: #000;
    position: fixed!important;
	overflow-y: scroll!important;
	width: 100%;
	height: 100%; 
	min-height: 100%;
	top: 0; left: 0; right: 0; bottom: 0;
    z-index: 1;
}
.overlay-content {
	display: none;
	height: 100%;
	padding-top: 20px;
	text-align: left;
}
.overlay-content h4 { line-height: 30px; }
.overlay-content h5 { line-height: 28px; }
.fa-li { margin-left: -8px; padding-top: 1px; }
.fa-ul { line-height: 25px!important; }
.copyright { text-align: center; font-size: 12px; padding: 0;margin:0;	background-color: #fff }
.overlay-content .lead { text-align: center; }

/*-----------------------------------------------------------------------------------*/
/*	06:PRELOADER
/*-----------------------------------------------------------------------------------*/
#loader {
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	background-color: rgba(0,0,0,0.4) !important;
	z-index: 9999;
}

#apploader{
	position:fixed;
	top:50%;
	left:50%;
	z-index:9;
}

.status1 {
	width: 50px; height:50px;
	position: absolute;
	left: 50%; top: 45%;
	margin: -25px 0 0 -25px;
	color: #000;
}
.status2 {
	width: 100px; height:36px;
	position: absolute;
	left: 50%; top: 50%;
	margin: 12px 0 0 -50px;
  font-weight: bold;
}

.footer{
  position:absolute;
  bottom:10px;
  width:100%;
}
.navbar-inverse{
    border:0;
}
.navbar-inverse .navbar-header, .navbar-collapse{
    margin: 0 15px;
}
.navbar-inverse .navbar-brand{
    color: #ffc;
    display: block;
    font-size: 20px;
    font-weight: 200;
    padding: 15px 20px 10px;
    text-decoration: none;
}
.navbar-inverse .navbar-brand:hover{
    color:#ffc;
}

#navbarCollapse{    
    overflow-y:hidden;
}

#navbarCollapse > ul{
    margin: 15px  0;
    padding:0;
}
#navbarCollapse > ul >li{
    display:inline-block;
    padding: 0 20px;
}

#navbarCollapse > ul >li >a{
    color:#999999;
    font-size:15px;
    text-decoration: none; 
}

#navbarCollapse > ul >li >a:hover{
    color:#ffc;
}
.menu {
  font-size: 1em;
  width:100%;
  margin: 0;
  height:50px;


}

.menu .navbar-logo {
  float: left;
  display: block;
  font-size: 20px;
  font-weight: 200;
  padding: 15px 35px 10px;
  text-decoration: none;
}
.menu .navbar-logo >a {
  color: #ffc;
}
.menu > ul {
  transition: max-height 0.25s linear;
  padding:10px 20px 10px;
  float:right;
  text-align: right;

}

.menu li {
  transition: visibility .25s linear;
  display: inline-block;
  padding: .45em 1.1em;
  margin: 0 .3em;
  position: relative;
}

.menu li >a{
    color: #999999; 
}

.navbar-checkbox {
  display: none;
}
.navbar-handle {
  display: none;
  cursor: pointer;
  position: relative;
  margin: 5px 30px;
  font-size: 45px;
  padding: .5em 0;
  height: 0;
  width: 1.66666667em;
  border-top: 0.13333333em solid;
}
.navbar-handle:before,
.navbar-handle:after {
  position: absolute;
  left: 0;
  right: 0;
  content: ' ';
  border-top: 0.13333333em solid;
}
.navbar-handle:before {
  top: 0.37777778em;
}
.navbar-handle:after {
  top: 0.88888889em;
}
.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.menu .navbar-handle {
  position: absolute;
  font-size: 1.2em;
  top: 0.7em;
  right: 12px;
  z-index: 10;
}

.welcome-text > span{
  font-size:16px;
}

.rw-sentence span{
  color: #000;
  font-size: 22px;
  font-weight: normal;
}
.rw-words{
  display: inline;
}
.rw-words-1 span{
  position: absolute;
  opacity: 0;
  overflow: hidden;
  left:0;
  right:0;
  margin:auto;
  -webkit-animation: rotateWord 12s linear infinite 0s;
  -ms-animation: rotateWord 12s linear infinite 0s;
  animation: rotateWord 12s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
  -ms-animation-delay: 3s; 
  animation-delay: 3s; 
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
  -ms-animation-delay: 6s; 
  animation-delay: 6s; 
}
.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
  -ms-animation-delay: 9s; 
  animation-delay: 9s; 
}

@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
  20% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}

/** flippy flop**/
.cube {
  width: 175px;
  text-align: center;
  margin: 20px auto;
  height: 175px;

  -webkit-transition: -webkit-transform .33s;
  transition: transform .33s; /* Animate the transform properties */

  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; /* <-NB */
}

/* The two faces of the cube */
.flippety,.flop {
  background: rgb(247, 247, 247);
  border: 1px solid rgba(147, 184, 189, .8);

  -webkit-border-radius: 15px;
  border-radius: 15px;

  -webkit-box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
  box-shadow: 0 5px 20px rgba(105, 108, 109, .3), 0 0 8px 5px rgba(208, 223, 226, .4) inset;
  height: 175px;
}

.cube img{
  width:175px;
  height:175px;
  -webkit-border-radius: 15px;
  border-radius: 15px;

}

/* Position the faces */
.flippety {
  -webkit-transform: translateZ(70px);
  transform: translateZ(70px);
}

.flop {
  -webkit-transform: rotateX(-90deg) translateZ(-70px);
  transform: rotateX(-90deg) translateZ(-70px);
}

.flop >span{
  font-size:12px;
  line-height: 30%;
  color:black;
  height:5px;
}
/* Rotate the cube */
.cube:hover {
  -webkit-transform: rotateX(89deg);
  transform: rotateX(89deg); /* Text bleed at 90º */
}

#img-thumbnail {
	display: block;
  	margin: 50px auto;
  	text-align:center;
	width: 90%;
	height: 150px;
 	border-radius:50%;
}
#img-ripple {
	width:150px;
	display:inline-block;
	border-radius: 50%;
}
#img-thumbnail #img-ripple img{
	width: 150px;
	height: 150px;
 	border-radius:50%;
 	margin: 0 auto;
}
#img-overlay:hover{
	display: block;
}
/*#title:hover + #thumbnail img{
  border-radius:5px !important;
}
*/
#img-overlay {
	display: none;
	color: #ffffff;
	background-color: rgba(0,0,0,0.7);
	text-align: left;
	padding:10px;
	width: 100%;
	height:200px;
	margin-top:-175px;
	border-radius: 15px;
}
.ripple:hover
{
  -webkit-animation:rip 0s ;
  -moz-animation:rip 0s ;
}
.ripple,.ripple:before,.ripple:after {
  border-radius:2px;
  -webkit-animation:rip 2s infinite;
  -moz-animation:rip 2s infinite;
}

.ripple:before,.ripple:after {

}
@-webkit-keyframes rip 
{
  0%  {
    box-shadow:0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent;
  }
  5%  {
    box-shadow:0 0 0 0 #d6d6d6,
               0 0 0 0 rgba(255,255,255,0.4),
               0 0 0 0 #d6d6d6,
               0 0 0 0 rgba(0,0,0,0.08);
  }
  70% {
    box-shadow:0 0 10px 30px #d6d6d6,
               0 0 10px 30px transparent,
               0 0 10px 30px #d6d6d6,
               0 0 1px 30px transparent;
  }
}
@-moz-keyframes rip 
{
  0%  {
    box-shadow:0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent,
               0 0 0 0 transparent;
  }
  5%  {
    box-shadow:0 0 0 0 #d6d6d6,
               0 0 0 0 rgba(255,255,255,0.4),
               0 0 0 0 #d6d6d6,
               0 0 0 0 rgba(0,0,0,0.08);
  }
  100% {
    box-shadow:0 0 40px 200px #d6d6d6,
               0 0 10px 210px transparent,
               0 0 30px 220px #d6d6d6,
               0 0 5px 230px transparent;
  }
}
.textContent{
  text-align:justify;
}

.title{
  color: #000;
  margin: 0 0 20px 0;
  position: relative;
  font-weight: 700;
  overflow: hidden;
}

.home_social{
  text-align: center;
}

.home_social > a > img{
  display: inline;
  padding:1px;
}

h1.title {
    color: #000;
    padding-top: 7.5px;
    font-size: 1.667em;
}
.profile{
  text-align:justify;
}
.profile h1{
  text-align: left;
  font-size: 1.667em;
  margin:0;
}
.text {
    background-color: cadetblue;
    color: black;
    padding: 0 5px;
    display: inline-block;
    margin: 3px;
    border-radius: 5px;
    font-size: 15px;
}

.dock ul{
display: inline-block;
margin: 0px;
padding: 0px;
list-style: none;
}
.dock  li {
width: auto;
height: auto;
display: inline-block;
bottom: 0;
vertical-align: bottom;
}
.dock ul li a {
display: block;
height: 60px;
width: 60px;
position: relative;
-webkit-transition-property: width, height,margin-top;
-webkit-transition-duration: 0.5s;
-o-transition-property: width, height,margin-top;
-o-transition-duration: 0.5s;
-moz-transition-property: width, height,margin-top;
-moz-transition-duration: 0.5s;
}
.dock ul li a:hover {
width: 70px;
height: 70px;
margin:-6px;
}
.dock ul li a img {
width: 100%;
position: absolute;
bottom: 0;
left: 0;
border: none;
padding: 0px 0px 0px 30px;
}
.view-animate-container{
    width: 102%;
    overflow-y:auto;
    overflow-x:hidden;
}
.view-animate-container,.view-animate{
    height: 100%;
}

ul#filter { 
  display:block; 
  font-size: 16px; 
  list-style: none; 
  width: 100%; 
  text-align:center;
}

ul#filter li { 

  display:inline-block;
  line-height: 16px;
  margin: 0 auto;
  padding: 5px;
  color: darkcyan; 
}

ul#filter li:hover { 
	border:1px solid #000;
	color:#000;
}

ul#filter li.current{
	border:2px solid #000;
}
ul#filter a { color:inherit;text-decoration: none; }
ul#filter li.current a, ul#filter a:hover { text-decoration: none; }
ul#filter li.current a { color: #000; font-weight: bold;}

ul#portfolio {display:block; list-style: none; margin-left: 0; width: 100%; text-align:center;}

ul#portfolio li { 
  margin: 10px; 
  padding: 5px;
  width:30%;
  float:left;
}


ul#portfolio a { display: block; width: 100%; }
ul#portfolio a:hover { text-decoration: none; }
ul#portfolio img { border: 1px solid #dedede; display: block; width:100%;height:180px;}

/*--------------modal--------------*/

.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
  overflow: hidden;
  height:100%;
  width:100%
}
.ng-modal-dialog-content > .row{
	margin: 30px 0 0 0;
	width:100%;
	height:90%;
}
#modal-content .img{
	width:100%;
	height:100%;
}
@media (max-width : 1280px) {
	#modal-content > .col-xs-12 .thumb{
		height:300px;
	}
}
@media (max-width : 991px) {
	#modal-content > .col-xs-12 .thumb{
		height:200px;
		width:60%;
	}
	.ng-modal-dialog-content > .row {
		overflow-y: auto;
	}
}
@media (max-width : 800px) {
	#modal-content > .col-xs-12 .thumb{
		height:200px;
		width:80%;
	}
}
@media (max-width : 670px) {
	#modal-content > .col-xs-12 .thumb{
		height:200px;
		width:100%;
	}
}
#modal-content .left-panal, #modal-content .left-panal .row,#modal-content .left-panal .row .project-description {
	height:100%;
}
.project-name{
	text-align:left;
	margin-top: 20px;
}

.project-description{
	overflow: hidden;
    position: relative;
}
.project-description p{
	width: 100%;
    padding-right: 20px;
    overflow: auto;
    height: 100%;
    position: absolute;
}
.project-meta{
	margin-top: 20px;
}
.project-meta img{
	cursor: pointer;
	width:50px;
	height:50px;
	display:inline;
	border: 1px solid black;
}
/*--------*/


/*Thumbnail Background*/
.thumb {
	width: 100%; height: 400px; margin: 30px auto;
	-webkit-perspective: 2000px;
	-moz-perspective: 1000px;
	perspective: 1000px;
    padding: 10px;
}
.thumb a {
	display: block; width: 100%; height: 100%;
	/*double layered BG for lighting effect*/
	/*disabling the translucent black bg on the main image*/
	background-size: 0, cover;
	border: 1px solid black;
	cursor: crosshair;
	/*3d space for children*/
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: rotateX(80deg); -moz-transform-origin: bottom;
	-moz-transform: rotateX(80deg); -moz-transform-origin: bottom;
	transform: rotateX(80deg); transform-origin: bottom;
}
.thumb:hover a {
	-webkit-transform: rotateX(0deg); -webkit-transform-origin: bottom;
	-moz-transform: rotateX(0deg); -moz-transform-origin: bottom;
	transform: rotateX(0deg); transform-origin: bottom;
}
/*bottom surface */
.thumb a:after {
	/*36px high element positioned at the bottom of the image*/
	content: ''; position: absolute; left: 0; bottom: 0; 
	width: 100%; height: 36px;
	/*inherit the main BG*/
	background: inherit; background-size: cover, cover;
	/*draw the BG bottom up*/
	background-position: bottom;
	/*rotate the surface 90deg on the bottom axis*/
	-webkit-transform: rotateX(90deg); -webkit-transform-origin: bottom;
	-moz-transform: rotateX(90deg); -moz-transform-origin: bottom;
	transform: rotateX(90deg); transform-origin: bottom;
}
/*label style*/
.thumb a span {
	color: white;
	position: absolute; top: 100%; left: 0; width: 100%;
	font: bold 12px/36px Montserrat; text-align: center;
	background-color: rgba(0,0,0,0.4);
	/*the rotation is a bit less than the bottom surface to avoid flickering*/
	-webkit-transform: rotateX(-86.99deg); -webkit-transform-origin: top;
	-moz-transform: rotateX(-86.99deg); -moz-transform-origin: top;
	transform: rotateX(-86.99deg); transform-origin: top;
	z-index: 1;
}
/*shadow*/
.thumb a:before {
	content: ''; position: absolute; top: 0; left: 0;
	width: 100%; height: 100%;
	background: rgba(0, 0, 0, 0.5); 
	transition: all 0.5s; 
	/*by default the shadow will be almost flat, very transparent, scaled down with a large blur*/
	opacity: 1;
	box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
	-webkit-transform: rotateX(0) translateZ(-60px) scale(0.85);
	-moz-transform: rotateX(0) translateZ(-60px) scale(0.85);
	transform: rotateX(0) translateZ(-60px) scale(0.85);

}
.thumb:hover a:before {
	opacity: 0.15;

	/*blurred effect using box shadow as filter: blur is not supported in all browsers*/
	box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);

	/*pushing the shadow down and scaling it down to size*/
	-webkit-transform: rotateX(95deg) translateZ(-80px) scale(0.75);
	-moz-transform: rotateX(95deg) translateZ(-80px) scale(0.75);
	transform: rotateX(95deg) translateZ(-80px) scale(0.75);
	-webkit-transform-origin: bottom;
	-moz-transform-origin: bottom;
	transform-origin: bottom;
}


/*--------*/

.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}
/*---------------------------------*/
.view {
    width: 100%;
    height: 210px;

    float: left;
    border: 1px solid #000;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;
}
.view img {
    display: block;
    position: relative;
    height:150px;
}
.view h4{
}

/*-----New Styles ----*/
.box {
  cursor: crosshair;
  width: 100%;
  height: 180px;
  position: relative;
  overflow: hidden;
  float: none;
  margin: 0 auto; 
}

.box img {
  position: absolute;
  left: 0;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}
.box .overbox {
  background-color: rgba(0,0,0,.75);
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  z-index: 100;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 100%;
  height: 175px;
  padding: 50px 20px;
}

.box:hover .overbox { opacity: 0.8; }
.box .overtext {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(40px);
  -webkit-transform: translateY(40px);
}

.box .title {
  font-size: 15px;
  text-transform: uppercase;
  opacity: 0;
  color:ivory;
  transition-delay: 0.1s;
  transition-duration: 0.2s;
}

.box:hover .title,
.box:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

.box .tagline {
  font-size: 0.8em;
  opacity: 0;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  color: #000;
  transition-delay: 0.2s;
  transition-duration: 0.2s;
}

.box:hover .tagline,
.box:focus .tagline {
  opacity: 1;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
}

/*-----------------------------------------------------------------------------------*/
/*	07: MEDIA QUERIES
/*-----------------------------------------------------------------------------------*/

@media all and (max-width: 568px) {

.content { padding: 40px 0 20px!important; }
.vegas-overlay, .vegas-background { min-height:100%!important; }
.link-effect  a{ margin: 10px  0px!important; font-size:14px;}
.block {
	position: relative;
	top: 0% !important;
	margin: 40px auto!important;
  	-webkit-transform: none !important;
  	-ms-transform: none !important;
	-o-transform: none !important;
  	transform: none !important;}
.overlay-content h1 { text-align: left!important; margin-left: 12px!important; }
.overlay-content .text-center { text-align: left!important; margin-left: 5px!important; }
.status2 { top: 55%!important; }
  .box{
  	width:100%;
    float: none;
    margin: 0 auto;  	
  }
}

@media (min-width: 651px) {
  .menu li ul {
    display: none;
    position: absolute;
    top: 100%;
    margin-top: 1px;
    left: -1px;
    right: -1px;
  }
  .menu li:hover ul {
    display: block;
  }
  .menu li li {
    margin: -1px 0 0 0;
    box-sizing: border-box;
    width: 100%;
  }
}
@media (max-width: 650px) {
      .menu > ul {
        max-height: 0;
        display:block;
        width:100%;
        margin:0;
        
        padding:0 20px;
        height:50px;

      }
      .menu li {
        visibility: hidden;
        display: inline-block;
        padding: 0.5em 0.6em;
        border: none;
        padding-top:15px;
      }
      .menu li ul {
        margin-top: 0.5em;
        border-left: 1px solid #000;
      }
      .menu .navbar-handle {
        display: block;
        color:white;
      }
      #navbar-checkbox:checked + .menu ul {
        max-height: 300px;
        background-color: #fff;
/*        border-top: 1px solid #101010;*/
      }
      #navbar-checkbox:checked + .menu li {
        visibility: visible;
      }
      #navbar-checkbox:checked + .menu .navbar-handle,
      #navbar-checkbox:checked + .menu .navbar-handle:after,
      #navbar-checkbox:checked + .menu .navbar-handle:before {
        border-color: #aaa;
      }
	  .box{
	  	width:80%;
	    float: none;
	    margin: 0 auto;  	
	  }
}

@media (min-width: :901px){
	  .box{
	  	width:100%;
	    float: none;
	    margin: 0 auto;  	
	  }	    	
}

@media screen and (max-width: 768px){
  .rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
  .rw-sentence { font-size: 9px; }
}

@media (max-width: 900px){
    ul#portfolio li { 

      margin: 10px; 
      padding: 5px;
      width:45%;
      float:left;
    }
}

@media (max-width: 767px){
    ul#filter li { 

      display:inline-block;
      line-height: 16px;
      margin: 5px auto;
      padding: 5px;
    }
    ul#portfolio li { 
      margin: 0px; 
      padding: 5px;
      width:100%;
      float:left;
    }
	.box{
  		width:80%;
    	float: none;
    	margin: 0 auto;  	
  	}	
}
@media (max-width: 520px){
	.box{
  		width:100%;
    	float: none;
    	margin: 0 auto;  	
  	}	
}
